In [2]:
import numpy as np
import pandas as pd

In [3]:
X_train = pd.read_csv('train.csv', index_col=False)

In [5]:
X_test = pd.read_csv('test.csv', index_col=False)

In [15]:
X_train = X_train.drop(columns=['Id'])

In [22]:
X_train = X_train.drop(columns=['y'])

In [11]:
type(y_train)

pandas.core.series.Series

In [18]:
y_train = y_train.values

In [24]:
X_train.values.shape

(10000, 10)

In [27]:
y_train_pred = np.mean(X_train.values, axis=1)

In [29]:
y_train_pred.shape

(10000,)

In [30]:
from sklearn.metrics import mean_squared_error
RMSE = mean_squared_error(y_train, y_train_pred)**0.5

In [31]:
RMSE

5.0655987678336215e-14

In [34]:
X_test = X_test.drop(columns=['Id'])

In [36]:
y_test_pred = np.mean(X_test.values, axis=1)

In [38]:
y_test_pred.shape

(2000,)

In [39]:
y_sample = pd.read_csv('sample.csv')

In [41]:
y_sub = y_sample

In [44]:
y_sub['y'] = y_test_pred

In [45]:
y_sub

         Id           y
0     10000  -66.002423
1     10001  451.406504
2     10002 -461.676417
3     10003   40.501209
4     10004 -126.744722
...     ...         ...
1995  11995  464.715255
1996  11996  496.485334
1997  11997  -35.135409
1998  11998 -131.679185
1999  11999  417.269155

[2000 rows x 2 columns]